/*2018-01-15-16:15 TOTALLY REWRITE*/

@font-face {
    font-family: Exfont;
    src: url(exo2regular.ttf)
}

@font-face {
    font-family: Dengfont;
    src: url(deng.ttf)
}

html {
    height: 100%;
    background: linear-gradient(to bottom right, #68a7f7, #66CCFF, #f7f4f4);
}


body {
    height: 100%;
    margin: 0;
	text-align: center;

}

#mainMidCard {
    /*margin: -60px auto auto auto;*/
    position: absolute;
    /*top: 50%;*/

	background-color: #F79F56;
	text-align: left;
	width: 300px;
	height: 120px;
    border-radius: 15px;
    z-index: 3;

    transition: all 0.5s;
}




#mainMidCardImg {
	float: left;
	margin: 10px;
}

#mainMidCardTextMe {
	font-family: Exfont;
	float: left;
	font-size: 30px;
	width: 180px;
    text-align: center;
    margin: 20px auto auto auto;
}

#mainMidCardTextDo {
    font-family: Dengfont;
    float: left;
    font-size: 15px;
    width: 180px;
    text-align: center;
    margin: 20px auto 20px auto;
}

.mainLinkS {
    visibility: hidden;
    background-color: #33CCFF;
    width: 300px;
    height: 120px;
    text-align: center;
    transition: all 500ms;
    z-index: 2;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    box-sizing: border-box;
}


.mainLinkTextBig {
    color: #419ff7;
    font-family: Exfont;
    padding-top: 32px;
    height: 40px;
    font-size: 33px;
}

.mainLinkTextSmall {
    color: #596363;
    font-family: Consolas;
    height: 48px;
    width: 300px;
    line-height: 48px;
    font-size: 14px;
    position: absolute;
    bottom: 0;
}

.mainLinkB {
    color: #419ff7;
    visibility: hidden;
    background-color: #33CCFF;
    width: 300px;
    height: 360px;
    text-align: center;
    transition: all 500ms;
    z-index: 1;
}

