/*2018-01-15-16:15 TOTALLY REWRITE*/
/*2019-05-01-16:30 TRANSITION REWRITE*/

@font-face {
    font-family: Exfont;
    src: url(exo2regular.ttf)
}

@font-face {
    font-family: Dengfont;
    src: url(deng.ttf)
}

html {
    height: 100%;
    background: linear-gradient(to bottom, #d4e0d1, #51c19f);
}

body {
    height: 100%;
    margin: 0;
	text-align: center;
}


#mainMidCard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


	background-color: #F79F56;
	text-align: left;
	width: 120px;
	height: 120px;
    border-radius: 15px;
    z-index: 3;

    transition: all 0.5s;
    transition-delay: 1s;
}

#mainMidCardImg {
    width: 100px;
    height: 100px;

    float: left;
    margin: 10px;
}


#overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 120px;
    width: 120px;
}

#overlay:hover {
    height: 360px;
    width: 900px;  
}
#overlay:hover #mainMidCard {
    transition-delay: 0s;
    border-radius: 0;
    width: 300px;
    border-left: 1px solid #1a1c19;
    border-right: 1px solid #1a1c19;
}
#overlay:hover .mainMidCardText {
    transition-delay: 0.5s;
    opacity: 1;
}
#overlay:hover #mainLinkLN {
    visibility: visible;
    transform: translate(-50%, 50%);
    transition-delay: 0.5s;
}
#overlay:hover #mainLinkIM {
    visibility: visible;
    transform: translate(-50%, -150%);
    transition-delay: 0.5s;
}
#overlay:hover #mainLinkBG {
    visibility: visible;
    transform: translate(-50%, -50%);
    transition-delay: 1s;
}
#overlay:hover #mainLinkFR {
    visibility: visible;
    transform: translate(-50%, -50%);
    transition-delay: 1s;
}


#FRIcon {
    height: 100px;
    width: 100px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 15px;
}


.mainMidCardText {
    width: 180px;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    transition-delay: 0.5s;
    pointer-events: none;
}

#mainMidCardTextMe {
	font-family: Exfont;
	float: left;
	font-size: 30px;
    margin: 20px auto auto auto;
}

#mainMidCardTextDo {
    font-family: Dengfont;
    float: left;
    font-size: 15px;
    margin: 20px auto 20px auto;
}


.mainLinkB, .mainLinkS {
    position: absolute;
    top: 50%;
    left: 50%;

    visibility: hidden;

    background-color: rgba(0, 0, 0, 0.2);
    transition: all 500ms;
    text-align: center;
}

.mainLinkS {
    transform: translate(-50%, -50%);

    width: 300px;
    height: 120px;

    z-index: 2;
    border-left: 1px solid #1a1c19;
    border-right: 1px solid #1a1c19;

    transition-delay: 0.5s;

}

.mainLinkB {
    width: 300px;
    height: 360px;
    pointer-events: all;
}


.mainLinkTextBig {
    color: #051206;
    font-family: Exfont;
    padding-top: 32px;
    height: 40px;
    font-size: 33px;
}

.mainLinkTextSmall {
    color: #596363;
    font-family: Consolas;
    height: 48px;
    width: 300px;
    line-height: 48px;
    font-size: 14px;
    position: absolute;
    bottom: 0;
}

.BOverlay {
    overflow: hidden;

    width: 300px;
    height: 360px;

    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
}
#BGOverlay {
    transform: translate(-150%, -50%);
}
#FROverlay {
    transform: translate(50%, -50%);
}

#mainLinkBG {
    transform: translate(50%, -50%);

    border-radius: 15px 0 0 15px;
}
#mainLinkFR {
    transform: translate(-150%, -50%);

    border-radius: 0 15px 15px 0;
}


